<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="/eel.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 20px;
    }
    
    .game-card {
      border: 1px solid #007bff;
      padding: 10px;
      text-align: center;
      cursor: pointer;
    }
    
    .game-image {
      width: 100%;
      height: auto;
    }
    
    .game-title {
      font-weight: bold;
      margin-top: 10px;
    }
    
    .game-info {
      display: none;
      margin-top: 10px;
    }
    
    .filter-buttons {
      margin-bottom: 10px;
    }
    
    .modal-title {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <!-- As a heading -->
  <nav class="navbar navbar-light bg-primary">
    <span class="navbar-brand mb-0 h1">GameDeck</span>
    <button class="btn btn-primary" onclick="confirmLogout()">Cerrar sesión</button>
  </nav>
  <br>
  <br>
  <div style="display: flex; justify-content:space-evenly;">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="genre-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Género
      </button>
      <div class="dropdown-menu" aria-labelledby="genre-dropdown">
        <a class="dropdown-item" href="#" onclick="filterGames('todos')">Todos</a>
        <a class="dropdown-item" href="#" onclick="filterGames('accion')">Acción</a>
        <a class="dropdown-item" href="#" onclick="filterGames('aventura')">Aventura</a>
        <a class="dropdown-item" href="#" onclick="filterGames('estrategia')">Estrategia</a>
        <a class="dropdown-item" href="#" onclick="filterGames('deportes')">Deportes</a>
        <a class="dropdown-item" href="#" onclick="filterGames('terror')">Terror</a>
        <a class="dropdown-item" href="#" onclick="filterGames('rpg')">RPG</a>
      </div>
    </div>
    <br>
    <br>
    <form class="form-inline my-2 my-lg-0">
      <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="button" onclick="searchGames()">Buscar</button>
    </form>
  </div>
  <br>
  <br>
  <div class="grid-container" id="game-container">
    <!-- Los juegos se generarán dinámicamente -->
  </div>

  <!-- Modal de cierre de sesión -->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Cerrar sesión</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Estás seguro de que deseas cerrar sesión?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" onclick="logout()">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </div>

  <script type="module">

    var data = await eel.crear_libreria({"steam_id": localStorage.getItem("steam_id"), "steam_api_key": localStorage.getItem("steam_api_key"), "steam_grid_api_key": localStorage.getItem("steam_grid_api_key")})();

    console.log(data);
    
    function confirmLogout() {
        // Muestra un alert de confirmación de cierre de sesión
        var result = confirm("¿Desea cerrar la sesión actual?");
        
        if (result) {
            // Lógica para cerrar sesión
            // Aquí puedes agregar tu propia implementación para limpiar las variables de sesión, eliminar cookies, etc.
            // Por ahora, simplemente redireccionaremos a otra vista después de cerrar sesión
            redirectToLogin();
        }
    }

    function redirectToLogin() {
        // Redireccionar a la vista de inicio de sesión o cualquier otra vista después de cerrar sesión
        window.location.href = "login.html";
    }

    // Cargar los juegos desde el archivo JSON
    function loadGames() {
      generateGameElements(data["games_data"])
    }

    // Generar los elementos de juego a partir de los datos del archivo JSON
    function generateGameElements(gamesData) {
      var container = document.getElementById("game-container");

      // Iterar sobre los datos de juegos y generar los elementos de juego
      for (var gameId in gamesData) {
        var game = gamesData[gameId];
        var gameCard = document.createElement("div");
        gameCard.className = "game-card";

        gameCard.setAttribute("data-genre", game.genre);
        gameCard.onclick = function() {
          var gameInfo = this.querySelector(".game-info");
          gameInfo.style.display = gameInfo.style.display === "block" ? "none" : "block";
        };

        var gameImage = document.createElement("img");
        gameImage.className = "game-image";
        gameImage.setAttribute("src", "../images/" + gameId + "/library_600x900_2x.jpg");
        gameCard.appendChild(gameImage);

        var gameTitle = document.createElement("div");
        gameTitle.className = "game-title";
        gameTitle.innerText = data["games_data"][gameId]["name"];
        gameCard.appendChild(gameTitle);

        var gameInfo = document.createElement("div");
        gameInfo.className = "game-info";
        gameInfo.innerText = "Información del juego";
        gameCard.appendChild(gameInfo);

        container.appendChild(gameCard);
      }
    }

    // Función para filtrar los juegos por género
    function filterGames(genre) {
      var gameCards = document.getElementsByClassName("game-card");
      for (var i = 0; i < gameCards.length; i++) {
        var card = gameCards[i];
        var cardGenre = card.getAttribute("data-genre");

        if (genre === "todos" || cardGenre === genre) {
          card.style.display = "block";
        } else {
          card.style.display = "none";
        }
      }
    }

    // Función para realizar la búsqueda de juegos por nombre
    function searchGames() {
      var searchTerm = document.getElementById("search-input").value.toLowerCase();

      var gameCards = document.getElementsByClassName("game-card");
      for (var i = 0; i < gameCards.length; i++) {
        var card = gameCards[i];
        var cardTitle = card.querySelector(".game-title").innerText.toLowerCase();

        if (cardTitle.includes(searchTerm)) {
          card.style.display = "block";
        } else {
          card.style.display = "none";
        }
      }
    }

    // Función para cerrar sesión
    function logout() {
      // Aquí puedes agregar la lógica para cerrar sesión, redireccionar, etc.
      alert("Sesión cerrada exitosamente");
    }

    // Cargar los juegos al cargar la página
    loadGames()
  </script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-HR46Xo0Hjx+g+LJcC9A0Vv/f4kiuhd4H/5khks9vBq2kWjxU/LD2otmBWq32yI3C" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-EBHGh1+Ai7+Ad8ZfS9r8VI6zddE2jOExm2wUL5Gq/rWIn6aa62SXdiqUSP3Ie5z/" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-AjxZ6f0mNud54kDVoOpHdQziI0QD9mQbS7gmefc3K6GLhWwQCBfxX7nMNeqDssbK" crossorigin="anonymous"></script>
</body>
</html>
